body{
    background-color: #161616;
}
:target{
    background-color: #161616;
}
.visually-hidden{
    display: none;
}
.card-category{
    background-color: #D73953;
}
.section-tagline{
    background-color: #D73953;
}